services:

  ## consul agent(s)
  consul-dev:
    image: consul
    ports:
      - "8500:8500"
    networks:
      default:
        ipv4_address: 172.18.2.20
    volumes:
      - ./conf:/consul/config

  ## shipment instances (port 5000)
  ship1:
    image: weshigbee/consul2-shipments
    ports:
      - 5000:5000 # only for toggling via local browser
    networks:
      default:
        ipv4_address: 172.18.2.30
  ship2:
    image: weshigbee/consul2-shipments
    ports:
      - 5001:5000 # only for toggling via local browser
    networks:
      default:
        ipv4_address: 172.18.2.31
    profiles: [ "manual1" ]

  ## orders instance
  orders:
    image: weshigbee/consul2-orders
    ports:
      - "3000:3000"
    dns:
      - 172.18.2.20
    environment:
      SHIPMENTS_URL: http://shipments.service.consul:5000
      SMTP_HOST: smtp.service.consul

  ## mail instances
  mail1:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
    networks:
      default:
        ipv4_address: 172.18.2.60
  mail2:
    image: mailhog/mailhog
    ports:
      - "8026:8025"
    networks:
      default:
        ipv4_address: 172.18.2.61
    profiles: [ "manual2" ]

  ## one-offs
  dog:
    image: weshigbee/consul2-dog
    dns:
      - 172.18.2.20
    profiles: [ "oneoff" ]
    # docker compose run --rm dog shipments.service.consul
  swiss:
    image: weshigbee/consul2-swiss
    dns:
      - 172.18.2.20
    profiles: [ "oneoff" ]
    # docker compose run --rm swiss curl --no-progress-meter 172.18.2.30:5000/shipments | jq

networks:
  default:
    ipam:
      config:
        - subnet: "172.18.0.0/16"
          gateway: "172.18.0.1"
          # static IPs now in 172.18.2.0/24 network to avoid collision
